:root {

    /* Backgrounds */
    --bg-main: #050314;
    --bg-gradient:
  linear-gradient(
    90deg,
    #ff9f00 0%,
    #dc0000 50%,
    #670010 75%,
    #600036 87.5%,
    #001b32 100%
  );
  
  
    /* Colors */
    --text-main: #f5edf9;
    --text-muted: rgba(245,237,249,.65);
  
    --purple: #7a4fb0;
    --purple-light: #b68ae8;
  
    --pink: #b94d87;
  
  
    /* Glass */
    --glass-bg:
      rgba(255,255,255,.08);
  
    --glass-border:
      rgba(255,255,255,.16);
  
    --glass-blur:
      blur(14px);
  
  
    /* Shadows */
    --shadow-soft:
      0 10px 40px rgba(0,0,0,.35);
  
    --shadow-purple:
      0 5px 30px rgba(122,79,176,.45);
  
  
    /* Borders */
    --radius-sm: 10px;
    --radius-md: 18px;
    --radius-pill: 999px;
  
  
    /* Spacing */
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 28px;
    --space-lg: 50px;
  
  
    /* Typography */
    --font-main:
      "Georgia",
      serif;
  
  }